<a href="https://colab.research.google.com/github/A01246519/Valores_Nulos/blob/main/Actividad3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIMPIAR BASE 1

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar archivo excel desde COLAB
from google.colab import files
files.upload()

In [15]:
#Carga desde un archivo .csv sin indice
data = pd.read_excel('Datos de Facturaci√≥n.xlsx')
data.head(10)

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.000,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.000,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.000,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.000,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.440,0.0,0.0
5,F29419,2465,E,1.0,2019-09-04 09:15:12,2019-09-04,2019-09-04 00:00:00,2019-09-19,NaT,3979.998,0.0,0.0
6,F29420,6828,C,2.0,2019-09-04 10:53:53,2019-09-04,2019-09-04 00:00:00,2019-09-04,2019-09-04,402.590,0.0,0.0
7,F29421,6828,E,2.0,2019-09-04 10:56:44,2019-09-04,2019-09-04 00:00:00,2019-09-04,NaT,402.590,0.0,0.0
8,F29422,5926,C,2.0,2019-09-04 11:14:44,2019-09-04,2019-09-02 00:00:00,2019-09-04,2019-09-04,1606.740,0.0,0.0
9,F29423,5926,C,2.0,2019-09-04 12:23:05,2019-09-04,2019-09-02 00:00:00,2019-09-04,2019-09-04,1144.430,0.0,0.0

In [11]:
#Identificar valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

CVE_DOC              5
CVE_CLPV             0
STATUS               9
CVE_VEND            48
FECHAELAB            2
FECHA_DOC            1
FECHA_ENT            2
FECHA_VEN            0
FECHA_CANCELA    10537
CAN_TOT              6
DES_TOT              1
DES_FIN              3
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

In [12]:
#Realizamos una copia del dataframe
data2=data.copy()

In [13]:
#Eliminamos FECHA_CANCELA
data2= data.drop(['FECHA_CANCELA'], axis= 1)

In [14]:
#Verificamos que ya no esta la columna
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC       5
CVE_CLPV      0
STATUS        9
CVE_VEND     48
FECHAELAB     2
FECHA_DOC     1
FECHA_ENT     2
FECHA_VEN     0
CAN_TOT       6
DES_TOT       1
DES_FIN       3
dtype: int64

In [16]:
# Sustitucion columna CVE_VEND
#Ya que solo hay dos tipos de datos, se rellena con el de enfrennte
data2["CVE_VEND"] =data2["CVE_VEND"].fillna(method="ffill")

In [17]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      5
CVE_CLPV     0
STATUS       9
CVE_VEND     0
FECHAELAB    2
FECHA_DOC    1
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [18]:
# Sustitucion columna STATUS
#Ya que no tenemos en que estatus esta, ponemos NI de No Identificado
data2["STATUS"] =data2["STATUS"].fillna("NI")

In [19]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      5
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    2
FECHA_DOC    1
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [20]:
#Sustitucion CVE_DOC
#Ya que son claves unicas, ponemos la palabra Verificar
data2["CVE_DOC"] =data2["CVE_DOC"].fillna("VERIFICAR")

In [21]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    2
FECHA_DOC    1
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [22]:
#SUSTITUIR FECHAELAB
#Ya que se trata de fechas se rellena con el de enfrennte
data2["FECHAELAB"] =data2["FECHAELAB"].fillna(method="ffill")

In [23]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    1
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [24]:
#SUSTITUIR FECHA_DOC
#Ya que se trata de fechas se rellena con el de enfrennte
data2["FECHA_DOC"] =data2["FECHA_DOC"].fillna(method="ffill")

In [25]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    2
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [26]:
#SUSTITUIR FECHA_ENT
#Ya que se trata de fechas se rellena con el de enfrennte
data2["FECHA_ENT"] =data2["FECHA_ENT"].fillna(method="ffill")

In [27]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      6
DES_TOT      1
DES_FIN      3
dtype: int64

In [28]:
#SUSTITUIR CAN_TOT
#Ya que se trata de precios, colocamos media
data2["CAN_TOT"]=data2["CAN_TOT"].fillna(round(data["CAN_TOT"].mean(),1))

In [29]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      0
DES_TOT      1
DES_FIN      3
dtype: int64

In [30]:
#Sustitucion de DES_TOT y DES_FIN
#Ya que se trata de valores enteros, pondremos los que mas se repiten en cada columna
data2["DES_TOT"]=data2["DES_TOT"].fillna(round(data["DES_TOT"].mean(),1))
data2["DES_FIN"]=data2["DES_FIN"].fillna(round(data["DES_FIN"].mean(),1))

In [31]:
#Verificamos datos nulos
valores_nulos=data2.isnull().sum()
valores_nulos

CVE_DOC      0
CVE_CLPV     0
STATUS       0
CVE_VEND     0
FECHAELAB    0
FECHA_DOC    0
FECHA_ENT    0
FECHA_VEN    0
CAN_TOT      0
DES_TOT      0
DES_FIN      0
dtype: int64

In [32]:
#Convertir DataFrame a CSV
data2.to_csv("datos_facturacion_sin_nulos.csv")

In [34]:
#descargar archivo filtrado en csv
from google.colab import files


files.download("datos_facturacion_sin_nulos.csv")

LIMPIAR BASE 2

In [ ]:
#Cargar archivo excel desde COLAB
from google.colab import files
files.upload()

In [38]:
#Carga desde un archivo .csv sin indice
dataB2 = pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
dataB2.head(10)

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,P√öBLICO EN GENERAL,1.0,TUE00244,"TUB COBRE 5/16""√òX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1.0,TUA00028,"TUA U"" 5/16 √òX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7.0,TP0007,TERMOPAR J 3/16 √ò X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1.0,TP0001,TERMOPAR J 3/16 √ò X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,P√öBLICO EN GENERAL,2.0,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,P√öBLICO EN GENERAL,2.0,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1.0,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3.0,TP0001,TERMOPAR J 3/16 √ò X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,NaN,TUE00207,"TUB INCOLOY 1/2""√òx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,NaN,TUE00207,"TUB INCOLOY 1/2""√òx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11

In [39]:
#Identificar valores nulos por columna
valores_nulos=dataB2.isnull().sum()
valores_nulos

CVE_DOC                      3
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [40]:
#Realizamos una copia del dataframe
data2B2=dataB2.copy()

In [41]:
#Sustituir columna CVE_DOC
#Sustituimos con la palabra Verificar ya que se trata de claves unicqas

data2B2["CVE_DOC"] =data2B2["CVE_DOC"].fillna("VERIFICAR")

In [42]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    3
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [44]:
#Sustituir columna FECHA_DOC
#Ya que se tratan de fechas, sustituimos con la del dia anterior
data2B2["FECHA_DOC"] =data2B2["FECHA_DOC"].fillna(method="bfill")

In [45]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              2
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [48]:
#Sustituir columnas NOMBRE_VENDEDOR
#Sustituimos con moda para que sean asignados al vendedor que vende mas
frecuenciaVendedor= dataB2.groupby(['NOMBRE_VENDEDOR'])['NOMBRE_VENDEDOR'].count()
frecuenciaVendedor

data2B2["NOMBRE_VENDEDOR"] =data2B2["NOMBRE_VENDEDOR"].fillna("LETICIA RAMIREZ HERNANDEZ")

In [49]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               2
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [51]:
#Sustituir columnas NOMBRE_CLIENTE
#Sustituimos con moda para que sean asignados al vendedor que vende mas
frecuenciaCliente= dataB2.groupby(['NOMBRE_CLIENTE'])['NOMBRE_CLIENTE'].count()
frecuenciaCliente

data2B2["NOMBRE_CLIENTE"] =data2B2["NOMBRE_CLIENTE"].fillna("ADRIANA BERENICE GUERRERO OVIEDO")

In [52]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         7
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [53]:
#Sustituir columnas CANT
#Ponemos el valor de adelante ya que son numeros enteros
data2B2["CANT"] =data2B2["CANT"].fillna(method="ffill")

In [54]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              2
COSTO_UNITARIO               4
COSTO_UNITARIO_CALCULADO     2
SUBTOTAL_PARTIDA             4
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [57]:
#Sustituir columnas PRECIO_UNITARIO, COSTO_UNITARIO, COSTO_UNITARIO_CALCULADO y SUBTOTAL_PARTIDA
#Ya que se tratan de precios sustituimos los nulos con la media
data2B2["PRECIO_UNITARIO"]=data2B2["PRECIO_UNITARIO"].fillna(round(dataB2["PRECIO_UNITARIO"].mean(),1))
data2B2["COSTO_UNITARIO"]=data2B2["COSTO_UNITARIO"].fillna(round(dataB2["COSTO_UNITARIO"].mean(),1))
data2B2["SUBTOTAL_PARTIDA"]=data2B2["SUBTOTAL_PARTIDA"].fillna(round(dataB2["SUBTOTAL_PARTIDA"].mean(),1))
data2B2["COSTO_UNITARIO_CALCULADO"]=data2B2["COSTO_UNITARIO_CALCULADO"].fillna(round(dataB2["COSTO_UNITARIO_CALCULADO"].mean(),1))

In [58]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      2
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [59]:
#Sustituir CVE_ART
#Sustituimos con No identificado ya que es una clave unica
data2B2["CVE_ART"] =data2B2["CVE_ART"].fillna("No Identificado")

In [60]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        2
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [61]:
#Sustituir DESCR
#Sustituimos con compra perdida ya que no se sabe que compraron
data2B2["DESCR"] =data2B2["DESCR"].fillna("Compra perdida")

In [62]:
#Identificar valores nulos por columna
valores_nulos=data2B2.isnull().sum()
valores_nulos

CVE_DOC                      0
FECHA_DOC                    0
NOMBRE_VENDEDOR              0
NOMBRE_CLIENTE               0
CANT                         0
CVE_ART                      0
DESCR                        0
PRECIO_UNITARIO              0
COSTO_UNITARIO               0
COSTO_UNITARIO_CALCULADO     0
SUBTOTAL_PARTIDA             0
COSTO_TOTAL_CALCULADO        0
MARGEN_UNITARIO_CALCULADO    0
MARGEN_TOTAL_CALCULADO       0
dtype: int64

In [63]:
#Convertir DataFrame a CSV
data2B2.to_csv("detalles_PPF_sin_nulos.csv")

In [64]:
#descargar archivo filtrado en csv
from google.colab import files


files.download("detalles_PPF_sin_nulos.csv")